.parent_container {
  display: grid;
  /* width: 32px; */
  justify-content: center;
  margin: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  margin: auto;
}

.parent_container > p {
  font-size: xx-large;
  font-weight: 300;
  color: gray;
}

.container {
  display: flex;
  gap: 20px;
  width: fit-content;
}

.icon {
  width: 150px;
  height: 70px;
  border: 1px solid black;
  border-radius: 35px;
  text-align: center;
  padding-top: 20px;
  justify-content: center;
  color: gray;
  font-size: 13px;
}


.color {
  font-weight: bolder;
  color: black;
}

.icon_size {
  font-size: 30px;
}
